@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import "tailwindcss";

@theme {
  --font-roboto: "Cinzel", sans-serif; 
}

body {
  background-color: rgb(3, 4, 14);
  overflow-x: hidden;
}
